APP_NAME=aedn
DB_URL=jdbc:postgresql://localhost:5432/mydb
DB_USERNAME=username
DB_PASSWORD=password
DDL_AUTO=update
SHOW_SQL=true


# make this flag false for clean migration in developement enviorement
FLYWAY_DISABLE_CLEAN=true
