APP_NAME=aedn
DB_URL=jdbc:postgresql://localhost:5432/mydb
DB_USERNAME=username
DB_PASSWORD=password

# turn this flag into false for cleaning migration functionality for flyway in developement enviorement
FLYWAY_DISABLE_CLEAN=true


# the jwt need to be base64 key, eg: "openssl rand -base64 64"
JWT_SECRET_KEY=uvlEeKcfCmGtkcXYs7VwVvvvcKcLJIQREJaId91sFc93/leLPUz/bVI8dDBNg8IhPY5RJzTGV5EmmPL7dPiMXw==
JWT_EXPIRATION=3600000
# either DEBUG, ERROR, FATAL, INFO, OFF, TRACE, WARN
LOG_LEVEL=DEBUG
